	<!DOCTYPE html>
	{% extends "layout.html"%}

	{%block body%}






	<h1>chocolate addicts </h1>

	<h2>{{qouts}}</h2>

	<img src="http://i.ndtvimg.com/i/2016-08/dark-chocolate-625_625x350_81470296626.jpg" height="500" width="100%"> </img>
	<h1>What chocolate is?</h1>
	<p>Chocolate is a range of foods derived from cocoa (cacao), mixed with fat (i.e., cocoa butter) and finely powdered sugar to produce a solid confectionery.</p>

	<h1>chocolate types</h1>


	<div class="Milk"> 


		<h1>Milk chocolate</h1>  </div>



		<div class="milkimage">
			<img src="../images/Party-time-milka-milk-chocolate-for-wholesale.jpg">
		</div>

		<div class="milkp"> 
			<p>is solid chocolate made with milk, in the form of milk powder, liquid milk, or condensed milk, added. In 1875, Swiss confectioner Daniel Peter, in cooperation with his neighbour Henri Nestlé in Vevey, developed the first solid milk chocolate using condensed milk. The bar was named "Gala Peter", combining the Greek word for "milk" and his name.[2] A German company Jordan & Timaeus in Dresden, Saxony had already invented milk chocolate in 1839;[3] hitherto it had only been available as a drink.[4] The US Government requires a 10% concentration of chocolate liquor. EU regulations specify a minimum of 25% cocoa solids. However, an agreement was reached in 2000 that allowed what by exception from these regulations is called "milk chocolate" in the UK, Ireland</p>  
		</div> 

		
		<div class="Dark"> 
			<h1>Dark chocolate</h1> 
		</div>
		<div class="Darkp">
			<p> also known as "plain chocolate" or "black chocolate", is produced using higher percentages of cocoa, traditionally with cocoa butter instead of milk, but there are also dark milk chocolates and many degress of hybrids. Dark chocolate can be eaten as is, or used in cooking, for which thicker, baking bars, usually with high cocoa percentages ranging from 70% to 99% are sold. Dark is synonymous with semisweet, and extra dark with bittersweet, although the ratio of cocoa butter to solids may vary.</p> </div>



			
				<div class="White"> 

					<h1>White chocolate</h1>
				 </div>
				<div class="Whitep">
					<p>is made of sugar, milk, and cocoa butter, without the cocoa solids.</p> </div>




					{%endblock%}
